---
// @ts-ignore
import { Icon } from "astro-icon";

const features = [
  {
    title: "Check Settings",
    description:
      "Check Settings if the Mobile Phone has Both Keypad and Touch Screen.",
    icon: "bx:bxs-bot",
  },
  {
    title: "PDA Tips",
    description:
      "Clean and Resold PDA Tips and PDA Connector.",
    icon: "bx:bxs-bot",
  },
  {
    title: "PDA",
    description:
      "Change PDA",
    icon: "bx:bxs-bot",
  },
  {
    title: "Check Track",
    description:
      "Check Track of the PDA Section and Jumper if Required.",
    icon: "bx:bxs-bot",
  },
  {
    title: "PDA IC",
    description:
      "PDA IC: Heat or Change.",
    icon: "bx:bxs-bot",
  },
  {
    title: "CPU",
    description:
      "CPU: Heat, Reball or Change",
    icon: "bx:bxs-bot",
  },
];
---

<div class="mt-16 md:mt-0">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    Solutions
  </h2>
  <p class="text-lg mt-4 text-slate-600">
    Possible solutions
  </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
