---
import { Picture } from "@astrojs/image/components";
import screenTouch from "assets/Screen Tocuh.png";
import Link from "@components/ui/link.astro";
import { Icon } from "astro-icon";
---

<main
  class="grid lg:grid-cols-2 place-items-center pt-16 pb-8 md:pt-12 md:pb-24">
  <div class="py-6 md:order-1 hidden md:block">
    <Picture
      src={screenTouch}
      alt="Screen Touch"
      widths={[200, 400, 600]}
      aspectRatio="4:3"
      sizes="(max-width: 800px) 100vw, 620px"
      loading="eager"
      format="avif"
    />
  </div>
  <div>
    <h1
      class="text-5xl lg:text-6xl xl:text-7xl font-bold lg:tracking-tight xl:tracking-tighter">
      Screen Touch
    </h1>
    <p class="text-lg mt-4 text-slate-600 max-w-xl">
      Type of component that helps to operate a mobile phone by touching the screen. Touch Screen is available in different sizes. It normally has 4 Points Namely: - (+), (-), (RX), (TX). Screen Touch is also called PDA. It is controlled by the CPU. In some Mobile Phones there is an Interface IC called PDA IC or Screen Touch IC.
    </p>

  </div>
</main>
